:host {
	position: fixed;
  width: 300px;
}

strong {
  font-size: .88rem;
}

.strong-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 210px;
}

small {
  font-size: .77rem;
}

input.search-input {
	width: calc(100% - 10px);
	margin: 5px;
}

.results-list {
	position: relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35), 0px 3px 2px 0px rgba(0,0,0,0.18);
  margin-top: 10px;
  display: inline-block;
  z-index: 1;
  width: 300px;
}

.results-list:before {
	background: #fff;
  border-radius: 4px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.results-list:after {
	 background: #fff;
  top: -10px;
  box-shadow: 1px 0px 4px 1px rgba(0,0,0,0.35), 0px 0px 2px 0px rgba(0,0,0,0.18);
  content: '';
  height: 20px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  z-index: -2;
}

.results {
  max-height: 300px;
  overflow-y: scroll;
}

.contents {
	padding: 10px;
	padding-left: 0px;
	border-top: 1px solid #bab7b1;
}

.contents:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

.selected {
  background-color: #f4f4f4;
}

.round {
	border: 1px solid #bab7b1;
	border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.person-icon {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjUxcHgiIGhlaWdodD0iNTFweCIgdmlld0JveD0iMCAwIDUxIDUxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zICgxMTk3MCkgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+cGVyc29uLWljb248L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz4KICAgICAgICA8Y2lyY2xlIGlkPSJwYXRoLTEiIGN4PSIyNC42NjY2NjY3IiBjeT0iMjQuMiIgcj0iMjQiPjwvY2lyY2xlPgogICAgPC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9InBlcnNvbi1pY29uIiBza2V0Y2g6dHlwZT0iTVNMYXllckdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIj4KICAgICAgICAgICAgPGcgaWQ9IlBhZ2UtMSI+CiAgICAgICAgICAgICAgICA8ZyBpZD0iU2NyZWVuLVNob3QtMjAxNS0wMS0yMS1hdC05LjQxLSstT3ZhbC03LUNvcHktMiI+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9Im1hc2stMiIgZmlsbD0iI0ZGRkZGRiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxjaXJjbGUgaWQ9InBhdGgtMSIgY3g9IjI0LjY2NjY2NjciIGN5PSIyNC4yIiByPSIyNCI+PC9jaXJjbGU+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgICAgIDxnIGlkPSJPdmFsLTYiIHN0cm9rZT0iI0I1QUY5QyIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSIjRkZGRkZGIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj4KICAgICAgICAgICAgICAgICAgICAgICAgPGNpcmNsZSBpZD0icGF0aC0xIiBjeD0iMjQuNjY2NjY2NyIgY3k9IjI0LjIiIHI9IjI0Ij48L2NpcmNsZT4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9IlBhdGgtMi1DbGlwcGVkIj4KICAgICAgICAgICAgICAgICAgICAgICAgPG1hc2sgaWQ9Im1hc2stMiIgc2tldGNoOm5hbWU9InBhdGgtMSIgZmlsbD0id2hpdGUiPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHVzZSB4bGluazpocmVmPSIjcGF0aC0xIj48L3VzZT4KICAgICAgICAgICAgICAgICAgICAgICAgPC9tYXNrPgogICAgICAgICAgICAgICAgICAgICAgICA8ZyBpZD0icGF0aC0xIj48L2c+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yMC4xOTA3NjcsNi4wNTMyMzAyNyBDMTkuOTcxODIxMiw2LjA1MzIzMDI3IDE5LjgwMjMxNDgsNi4wODI4OTM4OSAxOS42NTk2NDY5LDYuMTQ1MDQ2MjQgQzE3LjczMjkyNDEsNi45NTE2MTQyMiAxNS4wMjUwNTkyLDkuNTA2OTIzMzEgMTQuMTk0NDc3OCwxMS4zMDIyNzg3IEwxNC4xODE3NjQ5LDEyLjM3Mjk5NDEgQzE0LjEwMTI0OTMsMTIuNTU2NjI2MSAxMy45ODExODIzLDEyLjkzODAxNTUgMTMuODUxMjI3NCwxMy4zNTMzMDYyIEMxMy42OTMwMjE0LDEzLjg1MzM1MDEgMTMuNTE5Mjc3MywxNC40MDU2NTg1IDEzLjM2Mzg5NjUsMTQuODExMDYxMyBMMTMuMzU1NDIxMSwxOS4wMjg5NDU3IEwxMy4zNDgzNTg0LDE5Ljc2MDY0ODQgQzEzLjMzNTY0NTQsMjAuNjgzMDQ1NyAxMy4zNDEyOTU2LDIwLjcxMTI5NjggMTMuNjY2MTgyOSwyMS4yNjA3ODAxIEMxMy43NjUwNjE2LDIxLjQzMTY5OSAxMy44OTkyNTQyLDIxLjY1NzcwNzYgMTQuMDc3MjM1OSwyMS45ODk2NTc2IEMxNC4xMzY1NjMyLDIyLjEwODMxMjEgMTQuMjY2NTE4MSwyMi4yMzgyNjcgMTQuNDAzNTM1NywyMi4zNzUyODQ3IEMxNC41MTIzMDI0LDIyLjQ4NDA1MTMgMTQuNjI1MzA2NiwyMi41OTU2NDMgMTQuNjY5MDk1OCwyMi42NzMzMzM0IEMxNC43NDY3ODYyLDIyLjgyMzA2NDEgMTQuNzYwOTExOCwyMi45ODI2ODI2IDE0Ljc3NjQ0OTgsMjMuMTUwNzc2NSBDMTQuNzk5MDUwNywyMy4zOTA5MTA2IDE0LjgyMTY1MTYsMjMuNjQwOTMyNSAxNS4wNDYyNDc1LDIzLjg0MDEwMjUgQzE0Ljk4MjY4MjYsMjQuNjk4OTM1IDE1LjU1OTAwNDQsMjUuMDg3Mzg3MiAxNi4xNzA2NCwyNS40OTk4NTI4IEMxNi4zMjYwMjA5LDI1LjYwNTc5NDMgMTYuNDg4NDY0NiwyNS43MTQ1NjA5IDE2LjY1MDkwODIsMjUuODM4ODY1NiBDMTcuMzYwMDEsMjYuMzgxMjg2MSAxNy43OTc5MDE1LDI3LjY1MjU4NDEgMTguMTE4NTUxMiwyOC41NzkyMTkyIEwxOC4yNzY3NTcxLDI5LjAyOTgyMzcgQzE4LjcyMTcxMTUsMzAuMjY4NjMzIDE4LjYzMTMwOCwzMi45NjY2MSAxNy44ODk3MTc1LDM0LjM0NjY3NDcgQzE3Ljc5OTMxNDEsMzQuNTE2MTgxMSAxNy43MjcyNzM5LDM0LjY2ODczNjggMTcuNjYzNzA5LDM0LjgwMjkyOTQgQzE3LjQwODAzNjgsMzUuMzM5Njk5NyAxNy4zMTQ4MDgzLDM1LjU0MTY5NDggMTYuNjQyNDMyOSwzNS41OTk2MDk1IEMxNi40NDE4NTAzLDM1LjYyMjIxMDQgMTYuMjUzOTgwNywzNS42Mjc4NjA2IDE2LjA2ODkzNjIsMzUuNjM0OTIzMyBDMTUuNjMxMDQ0NiwzNS42NTA0NjE0IDE1LjIxNTc1MzksMzUuNjY0NTg3IDE0Ljc4MDY4NzUsMzUuODY1MTY5NSBDMTMuOTMzMTU1NSwzNi4yNTIyMDkyIDEzLjQyNzQ2MTQsMzYuNDI1OTUzMiAxMi40ODUyODgyLDM2LjQ5MjM0MzMgQzEyLjA0ODgwOTIsMzYuNjc4ODAwMyAxMS42OTAwMjA3LDM2LjkwMDU3MTIgMTEuMzI5ODE5NiwzNy4xMjIzNDIxIEMxMC45MTE3MDM4LDM3LjM4MDgzOTMgMTAuNDc5NDYyNCwzNy42NDc4MTE5IDEwLjAwNzY2OTYsMzcuODI4NjE4OCBDOC4xMjE5MTA4MywzOC41NzE2MjE4IDYuOTAyODc3MjUsMzkuMzExNzk5OCA1Ljg2MDQxMjg1LDQxLjA5NDQ0MjIgQzUuMzAxMDQxNzEsNDIuMDY3NjkxNSA0Ljg4MjkyNTkxLDQzLjk0NjM4NzUgNC41NDgxNTA3NSw0NS40NTM1ODIgQzQuNDE5NjA4MzksNDYuMDMyNzI4OCA0LjMwMDk1MzkxLDQ2LjU2MjQzNjQgNC4xOTA3NzQ3NCw0Ni45NzkxMzk2IEMzLjkzOTM0MDI0LDQ3Ljk0MzkxMzYgMy44NjczMDAwMiw0OC45NDI1ODg4IDMuNzk4MDg0OSw0OS45MDg3NzUzIEwzLjc2MTM1ODUxLDUwLjQwODgxOTIgQzMuNzYxMzU4NTEsNTIuODI1Njk4MSAxNC4xOTQ0Nzc4LDU0LjI2MzY3NzQgMjQuMjgxNTIxNiw1NC4yNjM2Nzc0IEMzNC4zNzU2MjgxLDU0LjI2MzY3NzQgNDQuODE1ODEwMiw1Mi44MjU2OTgxIDQ0LjgxNTgxMDIsNTAuNDIwMTE5NyBDNDQuOTM4NzAyNCw0OS4wOTIzMTk1IDQ0Ljc5MDM4NDMsNDYuMTM1ODQ1MiA0NC42Mzc4Mjg1LDQ1LjM2NDU5MTEgTDQ0LjQ4OTUxMDQsNDQuNjA2MDQ5OSBDNDMuNzk1OTQ2Nyw0MS40NDc1ODA1IDQyLjgyMTI4NDgsMzkuNDY0MzU1NiA0MS41OTA5NTA4LDM4LjcwNzIyNyBDNDEuMDcyNTQzNywzOC4zOTIyMjc2IDQwLjQ4Nzc0NjYsMzguMjA0MzU4IDM5LjkyMTMxMjcsMzguMDIyMTM4NiBDMzkuNDY3ODgzMSwzNy44NzY2NDU2IDM5LjAzOTg3OTQsMzcuNzM5NjI3OSAzOC42NDcxODk2LDM3LjU0MzI4MyBDMzcuNjY4MjkwMSwzNy4wNjAxODk3IDM2LjY2OTYxNDgsMzYuNzg2MTU0NCAzNS43MDQ4NDA5LDM2LjUyMjAwNjkgQzM1LjI0NzE3MzYsMzYuMzk2Mjg5NiAzNC43NzM5NjgyLDM2LjMwNTg4NjIgMzQuMzAwNzYyOCwzNi4yMTY4OTUzIEMzMy41MTY3OTU3LDM2LjA2OTk4OTggMzIuNzA0NTc3NSwzNS45MTc0MzQgMzEuOTc1Njk5OSwzNS41Nzk4MzM4IEMzMC44MTQ1ODEsMzUuMDM0NTg4MiAzMC4zOTA4MTUsMzQuMTc0MzQzMSAzMC41MTkzNTc0LDMyLjYxMDY0NjUgQzMwLjU0OTAyMSwzMi4zMzIzNzM1IDMwLjQ4NDA0MzUsMzEuODg3NDE5MiAzMC40MDkxNzgyLDMxLjM3NDY2MjMgQzMwLjMwMzIzNjcsMzAuNjQ0MzcyMiAzMC4xNzA0NTY3LDI5LjczNzUxMjkgMzAuMzczODY0NCwyOS40MzI0MDE0IEMzMC41NzE2MjE4LDI5LjEzMjk0MDEgMzAuODI3Mjk0LDI4Ljg2MDMxNzMgMzEuMDk5OTE2OCwyOC41NzA3NDM4IEMzMS4zNDU3MDExLDI4LjMwOTQyMTUgMzEuNTkyODk3OSwyOC4wNDY2ODY1IDMxLjc5NDg5MzEsMjcuNzYyNzYzMyBDMzIuMDg3MjkxNiwyNy4zNjMwMTA3IDMyLjI2MjQ0ODIsMjYuODY1NzkxOSAzMi40MzE5NTQ3LDI2LjM4NDExMTIgQzMyLjU3ODg2MDIsMjUuOTY0NTgyOCAzMi43MzI4Mjg1LDI1LjUyOTUxNjQgMzIuOTYzMDc0NywyNS4xNTgwMTQ5IEMzMy4wNjkwMTYyLDI1LjA1MjA3MzQgMzMuMzkxMDc4NCwyNC45MDk0MDU1IDMzLjY0ODE2MzEsMjQuNzk0OTg4NiBDMzMuNzczODgwNCwyNC43Mzg0ODY1IDMzLjg4ODI5NzIsMjQuNjg3NjM0NiAzMy45NzAyMjUzLDI0LjY0Mzg0NTQgTDM0LjA0NzkxNTcsMjQuNjAyODgxNCBMMzQuMDQ1MDkwNiwyNC41MTUzMDMxIEMzNC4wMTI2MDE5LDIzLjQ2MTUzODIgMzQuMzI3NjAxMywyMi43MzY4OTgzIDM0LjY5MjA0MDEsMjEuODk5MjU0MiBDMzQuOTIzNjk4OCwyMS4zNjk1NDY3IDM1LjE2MjQyMDQsMjAuODIxNDc2IDM1LjMyOTEwMTcsMjAuMTQyMDM3OCBDMzUuNTAxNDMzMiwxOS40NTEyOTkyIDM1LjUyNDAzNCwxOS4zNjIzMDgzIDM1LjM0MTgxNDYsMTkuMjc0NzMgQzM1LjMyMjAzODksMTkuMjY2MjU0NyAzNS4yNzI1OTk1LDE5LjI0MjI0MTMgMzUuMjE4OTIyNSwxOC45OTUwNDQ0IEMzNS4wNzYyNTQ2LDE4LjM3MjEwODQgMzUuMTI3MTA2NSwxNy41MDYyMTMxIDM1LjE3NTEzMzMsMTYuNjY5OTgxNSBDMzUuMjM1ODczMSwxNS41OTc4NTM1IDM1LjI5OTQzOCwxNC40ODg5OTkxIDM0Ljk3NDU1MDgsMTMuNzgyNzIyNCBDMzQuODEyMTA3MSwxMy40MjgxNzE1IDM0LjY1MTA3NiwxMy4wNTgwODI1IDM0LjQ4NDM5NDcsMTIuNjgwOTMwOCBDMzMuNTQzNjM0MiwxMC41MjgxOTk0IDMyLjQ3NzE1NjQsOC4wODg3MTk3IDMwLjU3NTg1OTUsNi45NDMxMzg5IEMzMC4zMzg1NTA1LDYuNzk3NjQ1OTEgMjkuMDAwODYyNSw2LjIwMTU0ODM4IDI4Ljc5MTgwNDYsNi4xMzY1NzA5MiBDMjguMzcyMjc2Miw2LjE3MzI5NzMxIDI4LjAzMTg1MDgsNi4yMTAwMjM3IDI3LjY3MTY0OTcsNi4yMzgyNzQ3NiBDMjcuNjIwNzk3OCw2LjIwODYxMTE0IDI3LjUwNzc5MzUsNi4xMTk2MjAyOCAyNy4zODc3MjY1LDYuMDIzNTY2NjUgQzI3LjIyMjQ1NzgsNS44OTA3ODY2MyAyNy4wMzMxNzU2LDUuNzQxMDU1OTcgMjYuNzkwMjE2NCw1LjY3NjA3ODUxIEwyMy42OTk1NDk2LDUuNzkzMzIwNDUgQzIzLjM2MzM2MTksNS42ODMxNDEyOCAyMy4wODUwODg5LDUuNjMyMjg5MzYgMjIuODQ2MzY3NCw1LjYzMjI4OTM2IEMyMi41MTg2NTUsNS42MzIyODkzNiAyMi4yODI3NTg2LDUuNzI5NzU1NTQgMjEuOTUzNjMzNiw1Ljg2Mzk0ODEyIEMyMS44MzIxNTQsNS45MTQ4MDAwNCAyMS42OTY1NDg5LDUuOTY5ODg5NjIgMjEuNTM1NTE3OCw2LjAyOTIxNjg2IEMyMS40MDU1NjI5LDYuMDc1ODMxMTIgMjEuMjU1ODMyMiw2LjA5NzAxOTQyIDIxLjA2MjMxMjQsNi4wOTcwMTk0MiBDMjAuOTE2ODE5NCw2LjA5NzAxOTQyIDIwLjc2OTkxMzksNi4wODU3MTkgMjAuNjI0NDIwOSw2LjA3MzAwNjAyIEMyMC40NzQ2OTAyLDYuMDY1OTQzMjUgMjAuMzI3Nzg0Nyw2LjA1MzIzMDI3IDIwLjE5MDc2Nyw2LjA1MzIzMDI3IEwyMC4xOTA3NjcsNi4wNTMyMzAyNyBMMjAuMTkwNzY3LDYuMDUzMjMwMjcgWiIgaWQ9IlBhdGgtMiIgZmlsbD0iI0I1QUY5QyIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgbWFzaz0idXJsKCNtYXNrLTIpIj48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

